In [24]:
import pandas as pd
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

In [25]:
df = pd.read_csv("E:\一带一路数据分析\345家媒体全部帖子16493.csv", encoding="utf-8", index_col=[0])

C:\Users\NINGMEI\AppData\Local\Temp\ipykernel_15412\3373452108.py:1: DtypeWarning: Columns (16,45,46,47,48,49,50,51,52,53) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("E:\一带一路数据分析\345家媒体全部帖子16493.csv", encoding="utf-8", index_col=[0])

In [44]:
df.reset_index(inplace=True)

In [45]:
df

,index,Unnamed: 0,in_reply_to_username,retweeted_username,quoted_username,created_at,text,public_metrics.impression_count,public_metrics.reply_count,public_metrics.retweet_count,...,geo.full_name,geo.geo.bbox,geo.geo.type,geo.id,geo.name,geo.place_id,geo.place_type,matching_rules,date,time
0,1,142,NaN,NaN,NaN,2013-02-10 00:38:20+00:00,The New Silk Road Brings Weapons to Gaza and B...,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013-02-10,00:38:20
1,5,559,NaN,NaN,NaN,2013-05-31 09:47:53+00:00,THE ROVING EYE : Pipelineistan and the New Sil...,0,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013-05-31,09:47:53
2,6,986,NaN,NaN,NaN,2013-07-21 22:51:34+00:00,Riding the New Silk Road http://t.co/ULOK13gj4D,0,2,13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013-07-21,22:51:34
3,7,1040,NaN,NaN,NaN,2013-07-22 00:31:49+00:00,Riding the New Silk Road http://t.co/wZUIEnFWFy,0,3,14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013-07-22,00:31:49
4,8,1476,NaN,NaN,NaN,2013-07-31 12:30:48+00:00,While the US talks about saving Afghanistan wi...,0,1,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013-07-31,12:30:48
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16488,23411,1248032,ChinaDailyAsia,NaN,NaN,2023-02-06 14:23:41+00:00,Hong Kong Special Administrative Region Chief ...,80,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-02-06,14:23:41
16489,23412,1248047,CDHKedition,NaN,NaN,2023-02-06 15:01:33+00:00,Hong Kong Special Administrative Region Chief ...,44,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-02-06,15:01:33
16490,23414,1248157,NaN,NaN,NaN,2023-02-07 03:00:01+00:00,#SaudiArabia’s business leaders on Sunday hail...,57,0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-02-07,03:00:01
16491,23415,1248252,NaN,NaN,NaN,2023-02-07 10:00:39+00:00,"In a high-spirited pitch at #LEAP 2023, #HongK...",84,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-02-07,10:00:39
16492,23417,1248269,NaN,NaN,NaN,2023-02-07 11:00:37+00:00,"In a high-spirited pitch at #LEAP 2023, #HongK...",131,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-02-07,11:00:37

In [27]:
analyzer = SentimentIntensityAnalyzer()

In [34]:
sentiment_list = []
for sentence in df["text"]:
    vs = analyzer.polarity_scores(sentence)
    sentiment_list.append(vs)
    # print("{:-<65} {}".format(sentence, str(vs)))

In [36]:
sentiment_list[0:5]

[{'neg': 0.182, 'neu': 0.818, 'pos': 0.0, 'compound': -0.4404},
 {'neg': 0.108, 'neu': 0.892, 'pos': 0.0, 'compound': -0.3182},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}]

In [46]:
df_sentiment_list = pd.DataFrame(sentiment_list)
df_sentiment_list

         neg    neu    pos  compound
0      0.182  0.818  0.000   -0.4404
1      0.108  0.892  0.000   -0.3182
2      0.000  1.000  0.000    0.0000
3      0.000  1.000  0.000    0.0000
4      0.000  1.000  0.000    0.0000
...      ...    ...    ...       ...
16488  0.059  0.872  0.069    0.1027
16489  0.059  0.872  0.069    0.1027
16490  0.000  0.939  0.061    0.2263
16491  0.062  0.938  0.000   -0.3182
16492  0.062  0.938  0.000   -0.3182

[16493 rows x 4 columns]

In [47]:
df_cov = pd.concat([df, df_sentiment_list], axis=1)

In [53]:
df_cov.to_csv(r"E:\一带一路数据分析\345家媒体全部帖子16493情感分析结果.csv", encoding="utf-8")

In [59]:
df_cov_senti = df_cov[["author.username", "neg", "neu", "pos", "compound"]]

In [60]:
df_cov_senti

       author.username    neg    neu    pos  compound
0           Algemeiner  0.182  0.818  0.000   -0.4404
1      asiatimesonline  0.108  0.892  0.000   -0.3182
2      nytimesbusiness  0.000  1.000  0.000    0.0000
3         nytimesworld  0.000  1.000  0.000    0.0000
4                   qz  0.000  1.000  0.000    0.0000
...                ...    ...    ...    ...       ...
16488   ChinaDailyAsia  0.059  0.872  0.069    0.1027
16489      CDHKedition  0.059  0.872  0.069    0.1027
16490      CDHKedition  0.000  0.939  0.061    0.2263
16491      CDHKedition  0.062  0.938  0.000   -0.3182
16492   ChinaDailyAsia  0.062  0.938  0.000   -0.3182

[16493 rows x 5 columns]

In [62]:
# 计算平均情感值
df_mean_senti = df_cov_senti.groupby("author.username").agg("mean")

In [63]:
df_mean_senti.to_csv("E:\\一带一路数据分析\\345家媒体平均情感.csv", encoding="utf-8")